@import url("root.css");

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

header {
    background-image: url(../images/bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.map:hover {
    color: burlywood;


}

.gap-80 {
    gap: 80px;
}

.pt26 {
    padding-top: 26px;
}

.pt28 {
    padding-top: 28px;
}

.Vitae {
    max-width: 515px;
}

.semper {
    max-width: 400px;
}

.pt320 {
    padding-top: 320px;
}

.get:hover {
    background: #031227;
    color: #FFF;

}

.get {
    border: none;
    width: 225px;
    height: 69px;

    border-radius: 45.5px;
    background: #FFF;
}

/* section1  */
.soon {
    transition: all linear 300ms;
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 45.5px;
    background: #FFF;
}

.soon:hover {
    transform: scale(1.5);
    background: #031227;
    color: #FFF;

}

.pt52 {
    padding-top: 52px;
}

.pt156 {
    padding-top: 156px;
}

.ellipse1 {
    position: absolute;
    right: 30%;
    top: -47%;
    z-index: -1;
}

.pl243 {
    padding-left: 243px;
}

.ellipse2 {
    position: absolute;
    top: -17%;
    right: 0%;
    z-index: -1;
}

.gap-52 {
    gap: 24px;
}

/* section2 */
.card1 {
    width: 100%;
    min-height: 511px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #031227;
}

.nsg:hover path {
    fill: rgba(100, 6, 70, 0.813);
}

.tsvg:hover path {
    fill: #009Dff;
}

.dsvg:hover path {
    fill: royalblue
}

.card2 {
    width: 426px;
    height: 511px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #031227;
}

.card3 {
    width: 426px;
    height: 511px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #031227;
}

.card4 {
    width: 426px;
    height: 511px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #031227;
}

.card5 {
    width: 426px;
    height: 511px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #031227;
}

.card6 {
    width: 426px;
    height: 511px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #031227;
}

.art {
    max-width: 347px;
}

.mt {
    margin-top: -1px;
}

.mt44 {
    margin-top: 44px;
}

.buddy {
    max-width: 242px;
}

.our {
    max-width: 311px;
}

.all {
    max-width: 269px;
}

.the {
    max-width: 294px;
}

.we {
    max-width: 287px;
}

.w98 {
    width: 98px;
}

.bf::after {
    content: '';
    position: absolute;
    width: 88px;
    height: 2px;
    left: 0;
    top: 49%;
    background-color: var(--gray);
}

.ml24 {
    margin-left: 24px;
}

.pt127 {
    padding-top: 127px;
}

.pt-41 {
    padding-top:
        41px;
}

/* section3 */
section {
    background-color: yellowgreen;
    min-height: 100vh;
    font-family: "helventica sens-serif";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ellipse3 {
    position: absolute;
    left: 0%;
    top: -17%;
    z-index: -1;
}

.pt141 {
    padding-top: 141px;
}

.pt110 {
    padding-top: 110px;
}

.pt131 {
    padding-top: 131px;
}

.mw_404 {
    max-width: 376px;
}

.pb {
    padding-bottom: 10px;
}

.and {
    max-width: 786px;
}

/* 
section44 */
.accordion-button {
    border-radius: 200px !important;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: #031227 !important;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.z-index1 {
    z-index: 1;
}

.ellipse4 {
    position: absolute;
    right: 0%;
    top: -76%;
    z-index: -1;
}

.hac {
    max-width: 800px;
}

.pb127 {
    padding-bottom: 127px;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../images/Vector.png') !important;
}

.accordion {
    --bs-accordion-bg: transparent !important;
    --bs-accordion-btn-focus-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: unset !important;
    --bs-accordion-border-color: unset !important;
    --bs-accordion-transition: color 0.15s
}

.accordion-button::after {
    background-image: url('../images/Vector.png') !important;
}

footer {
    background-image: url(../images/newbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pt156 {
    padding-top: 156px;
}

.pt179 {
    padding-top: 179px;
}

.pb198 {
    padding-bottom: 198px;
}

.eenean {
    max-width: 341px;
}

.timeline {
    position: relative;
    width: 100%;
}

.timeline::after {
    content: "";
    position: absolute;
    border-left: 2px dashed white;
    top: 3%;
    bottom: 29%;
    left: 15%;
    margin-left: -3px;
}

.timelinecontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timelinecontainer::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    fill: #009dff;
    background-color: #009Dff;
    border: 4px solid white;
    top: 7%;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    right: -50%;
}

.right::after {
    left: -16px;
}

@media screen and (max-width: 576px) {
    .timeline::after {
        left: 12%;
    }

    .timelinecontainer {
        width: 100% !important;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timelineContainer::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

@media (max-width:1400px) {
    label[id="menu"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: fixed;
        right: 5%;
        top: 3%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    label[id="menu"]>span {
        width: 100%;
        height: 5px;
        background: blue;
    }

    .navbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background: black;
        opacity: 1;
    }

    .left-0 {
        left: 0;
    }
}

@media (min-width:320px) {
    .w-75 {
        width: 75%;
    }

    .pl243 {
        padding-left: 0;
    }



    .pt320 {
        padding-top: 0;
    }
}

@media (min-width:576px) {
    .timeline::after {
        content: "";
        position: absolute;
        border-left: 2px dashed #ffff;
        top: 7%;
        bottom: 28%;
        left: 50%;
        margin-left: -3px;
    }

    .pt320 {
        padding-top: 320px;
    }

    .pl243 {
        padding-left: 243px;
    }


}